@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NotoSerifCondensedItalic';
  src: url('./assets/fonts/NotoSerif_Condensed-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'NotoSerifCondensedBold';
  src: url('./assets/fonts/NotoSerif_Condensed-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSerifRegular';
  src: url('./assets/fonts/NotoSerif-Regular.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSerifLight';
  src: url('./assets/fonts/NotoSerif-Light.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSerifCondensedMedium';
  src: url('./assets/fonts/NotoSerif_Condensed-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NotoSerifCondensedRegular';
  src: url('./assets/fonts/NotoSerif_Condensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html {
  scroll-behavior: smooth;
}

/* Add these lines to index.css */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

